<!DOCTYPE html>
<html>
  <head>
    <title>Author Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Author Details</h1>
    <a href="/api/authors">Back to Authors</a>

    <h2>Author Information</h2>
    <ul>
      <li><strong>ID:</strong> [[${author.id}]]</li>
      <li><strong>Name:</strong> [[${author.name}]]</li>
      <li><strong>Profession:</strong> [[${author.profession}]]</li>
      <li>
        <strong>Publish House:</strong>
        <a th:href="@{'/api/publishers/' + ${author.publisher.id}}"
          >[[${author.publisher.name}]]</a
        >
      </li>
    </ul>
  </body>
</html>
